<footer class="site-footer">


  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#39393c">
  <tr>
    <td width="6%" height="77">&nbsp;</td>
    <td width="88%"><table width="100%" border="0">
      <tr>
        <td width="16%" height="14" class="style15"><a href="index.html">Home </a></td>
        <td width="28%"><span class="style15"><a href="our-services.html">Our Services </a></span></td>
        <td width="22%"><span class="style15"><a href="airfreight-services.html">Air Freight Services </a></span></td>
        <td width="19%"><span class="style15"><a href="seafreight-services.html">Sea Freight Services </a></span></td>
        <td width="15%" rowspan="3" align="center" bgcolor="#FFFFFF"><img src="images/LOGO.png" width="203" height="84" /></td>
      </tr>
      <tr>
        <td><span class="style15"><a href="about-us.html">About Us </a></span></td>
        <td><span class="style15"><a href="tracking.html">Track Package Online </a></span></td>
        <td><span class="style15"><a href="inlandhaluage-services.html">Inland Haulage Services </a></span></td>
        <td><span class="style15"><a href="cargowarehouse-services.html">Cargo Warehousing Services </a></span></td>
      </tr>
      <tr>
        <td height="19" valign="top"><span class="style15"> <a href="contact-us.html">Contact Us </a></span></td>
      </tr>
    </table></td>
    <td width="6%">&nbsp;</td>
  </tr>
  <tr>
    <td height="23">&nbsp;</td>
    <td align="center">
        <span class="style24">&copy; 2015 Safe Hands Express. All Rights Reserved</span>.</span></td>
    <td>&nbsp;</td>
  </tr>
</table>

<script type="text/javascript" src="js/tracking/data.json"></script>
<script type="text/javascript" src="js/tracking/data1.json"></script>
<script type="text/javascript" src="js/tracking/data2.json"></script>
<script type="text/javascript" src="js/tracking/data3.json"></script>
<script type="text/javascript" src="js/tracking/data4.json"></script>
<script type="text/javascript" src="js/tracking/data5.json"></script>
<script type="text/javascript" src="js/tracking/data6.json"></script>
<script type="text/javascript" src="js/tracking/data7.json"></script>
<script type="text/javascript" src="js/tracking/data8.json"></script>
<script type="text/javascript" src="js/tracking/data9.json"></script>
<script type="text/javascript" src="js/myscript.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/main.js"></script>

</footer>
