<header class="site-header">

  <table width="100%" align="center">
    <tr>
      <td bgcolor="#FFFFFF" style="background-repeat:no-repeat"t><p><img src="images/LOGO.jpg" width="203" height="84" /></p>
      </td>
    </tr>
    <tr>
      <td bgcolor="#39393c"><ul id="topnav" class="v2">
        <li><a href="index.html">Home</a></li>
        <li><a href="about-us.html">About Us</a></li>
        <li><a href="our-services.html">Our Services</a></li>
        <li><a href="safe-keeping.html">Safe Keeping</a></li>
        <li><a href="tracking.html">Track Package</a></li>
        <li><a href="our-values.html">Our Values</a></li>
        <li><a href="contact-us.html">Contact US</a></li>
      </ul></td>
    </tr>
  </table>
</header>
